@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.brand {
  background: url("../images/mamazoe.png") no-repeat;
  min-height: 100%;
  width: 300px;
  background-position: top;
  background-size: inherit;
}


.bgimg {
  background-image: url('../images/call-to-action.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}