include layout/head.pug
body
  .bgimg.w3-display-container.w3-animate-opacity.w3-text-white
  .w3-display-topleft.w3-padding-large.w3-xlarge
    img.brand(src='images/mamazoe.png' alt='mamazoe' width='120px' height='40px')
  .w3-display-middle
    // Form or Error Message
    .w3-container
      .w3-panel.w3-padding-16.w3-black.w3-opacity.w3-card.w3-hover-opacity-off
        include includes/verify.pug
  include layout/footer.pug
