h2 Estamos chegando!
p Conheça o que melhor oferecemos para seu melhor amigo.
form(action='https://formspree.io/f/mnqorlrn' method='POST')
  label Nome
  input.w3-input.w3-borderinput(type='text' name='name')
  p
  label E-mail:
  input.w3-input.w3-borderinput(type='email' name='_replyto')
  p
  button.w3-button.w3-red.w3-margin-topinput(type='submit' value='Submit') Inscreva-se